﻿@model EatAndFeelGoodMVC.Models.Reservation

@{
    ViewData["Title"] = "AddReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="special">
    <div class="special-heading">
        <h2 class="tittle-t"><span>Craiova</span> Romania</h2>
    </div>
</div>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/ui-lightness/jquery.ui.slider.css" type="text/css" media="all" />
<div class="wall">
    <div id="pg_container" class="pg_container">
        <ul id="pg_photos" class="pg_photos">

            <li>
                <div class="photography">
                    <div class="photo-grids">
                        <a href="single.html"><img class="img-responsive" src="~/images/manor.jpg" alt="" /></a>
                        <div class="pic-info">
                            <h3>The Manor</h3>
                            <br />
                            <p>Reserve a table.</p>
                            <br>
                            <div class="row">
                                <div class="col-md-10">
                                    <form asp-action="AddReservation">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Date" class="control-label"></label>
                                            <input asp-for="Date" class="form-control" />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Time" class="control-label"></label>
                                            <input asp-for="Time" class="form-control" />
                                            <span asp-validation-for="Time" class="text-danger"></span>
                                        </div>

                                        <div class="form-sub">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                        @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Reservation added</p>"); }
                                        @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Reservation could not added</p>"); }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="photo-grids grid2">
                        <a href="single.html"><img class="img-responsive" src="~/images/excelsior.jpg" alt="" /></a>
                        <div class="pic-info">
                            <h3>Excelsior</h3>
                            <p>Reserve a table.</p>
                            <br>
                            <div class="row">
                                <div class="col-md-10">
                                    <form asp-action="AddReservation">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Date" class="control-label"></label>
                                            <input asp-for="Date" class="form-control" />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Time" class="control-label"></label>
                                            <input asp-for="Time" class="form-control" />
                                            <span asp-validation-for="Time" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                        @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Reservation added</p>"); }
                                        @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Reservation could not added</p>"); }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="photo-grids grid3">
                        <a href="single.html"><img class="img-responsive" src="~/images/smart.jpg" alt="" /></a>
                        <div class="pic-info">
                            <h3>Smart Pub</h3>
                            <p>Reserve a table.</p>
                            <br>

                            <div class="row">
                                <div class="col-md-10">
                                    <form asp-action="AddReservation">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Date" class="control-label"></label>
                                            <input asp-for="Date" class="form-control" />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Time" class="control-label"></label>
                                            <input asp-for="Time" class="form-control" />
                                            <span asp-validation-for="Time" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                        @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Reservation added</p>"); }
                                        @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Reservation could not added</p>"); }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="photo-grids grid4">
                        <a href="single.html"><img class="img-responsive" src="~/images/chouse.jpg" alt="" /></a>
                        <div class="pic-info">
                            <h3>C House Milano</h3>
                            <p>Reserve a table.</p>
                            <br>
                            <div class="row">
                                <div class="col-md-10">
                                    <form asp-action="AddReservation">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Date" class="control-label"></label>
                                            <input asp-for="Date" class="form-control" />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Time" class="control-label"></label>
                                            <input asp-for="Time" class="form-control" />
                                            <span asp-validation-for="Time" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                        @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Reservation added</p>"); }
                                        @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Reservation could not added</p>"); }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="photo-grids grid5">
                        <a href="single.html"><img class="img-responsive" src="~/images/iberico.jpg" alt="" /></a>
                        <div class="pic-info">
                            <h3>Iberico</h3>
                            <p>Reserve a table.</p>
                            <br>
                            <div class="row">
                                <div class="col-md-10">
                                    <form asp-action="AddReservation">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Date" class="control-label"></label>
                                            <input asp-for="Date" class="form-control" />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Time" class="control-label"></label>
                                            <input asp-for="Time" class="form-control" />
                                            <span asp-validation-for="Time" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                        @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Reservation added</p>"); }
                                        @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Reservation could not added</p>"); }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="photo-grids grid6">
                        <a href="single.html"><img class="img-responsive" src="~/images/big.jpg" alt="" /></a>
                        <div class="pic-info">
                            <h3>Big Ben</h3>
                            <p>Reserve a table.</p>
                            <br>
                            <div class="row">
                                <div class="col-md-10">
                                    <form asp-action="AddReservation">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Date" class="control-label"></label>
                                            <input asp-for="Date" class="form-control" />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Time" class="control-label"></label>
                                            <input asp-for="Time" class="form-control" />
                                            <span asp-validation-for="Time" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                        @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Reservation added</p>"); }
                                        @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Reservation could not added</p>"); }
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


</div>

<div class="clearfix"></div>