﻿@model EatAndFeelGoodMVC.Models.Client

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="special">
    <div class="container">
        <div class="special-heading">
            <h2 class="tittle-t"><span>Sign In</span></h2>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="inregistrare">
                        <div class="container-client">
                            <form asp-action="AddClient">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-sub">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-sub">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-sub">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-sub">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-sub">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                                @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Client added</p>"); }
                                @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Client could not added</p>"); }
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
