﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "City";
}

<!-- special -->
<div class="special">
    <div class="container">
        <div class="special-heading">
            <h2 class="tittle-t"><span>City</span> Romania</h2>
        </div>
        <div class="special-grids">
            <div class="col-md-4 special-grid">
                <div class="col-md-6 special-img">
                    <div class="special-text effect-1">
                        <h4>@Html.ActionLink("Craiova", "AddReservation", "Reservation")</h4>
                    </div>
                </div>
                <div class="col-md-6 agileits-special-info">
                    <h4>Craiova</h4>
                    <p>Ideal food</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 special-grid">
                <div class="col-md-6 special-img city-img">
                    <div class="special-text effect-1">
                        <h4>@Html.ActionLink("Bucuresti", "City")</h4>
                    </div>
                </div>
                <div class="col-md-6 agileits-special-info">
                    <h4>Bucuresti</h4>
                    <p>Party Night</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 special-grid">
                <div class="col-md-6 special-img city-img1">
                    <div class="special-text effect-1">
                        <h4>@Html.ActionLink("Brasov", "City")</h4>
                    </div>
                </div>
                <div class="col-md-6 agileits-special-info">
                    <h4>Brasov</h4>
                    <p>Food</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 special-grid">
                <div class="col-md-6 agileits-special-info">
                    <h4>Cluj-Napoca</h4>
                    <p>Food</p>
                </div>
                <div class="col-md-6 special-img city-img2">
                    <div class="special-text effect-1">
                        <h4>@Html.ActionLink("Cluj-Napoca", "City")</h4>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 special-grid">
                <div class="col-md-6 agileits-special-info">
                    <h4>Soon</h4>
                    <p>Food</p>
                </div>
                <div class="col-md-6 special-img city-img3">
                    <div class="special-text effect-1">
                        <h4>@Html.ActionLink("Soon", "City")</h4>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 special-grid">
                <div class="col-md-6 agileits-special-info">
                    <h4>Soon</h4>
                    <p>Food</p>
                </div>
                <div class="col-md-6 special-img city-img4">
                    <div class="special-text effect-1">
                        <h4>@Html.ActionLink("Soon", "City")</h4>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //special -->
<!--services-section-->
<div class="clearfix"></div>
<!--//services-section-->