﻿
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- gallery -->
<div class="gallery">
    <div class="container">
        <h2 class="tittle-t">Gallery</h2>
        <div class="gallery-grids">
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/g1.jpg" data-lightbox="example-set" data-title="">
                            <img src="~/images/g1.jpg" alt="" />
                            <figcaption>
                                <h3>Craiova</h3>
                                <p>Excelsior</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/g2.jpg" data-lightbox="example-set" data-title="">
                            <img src="~/images/g2.jpg" alt="" />
                            <figcaption>
                                <h3>Craiova</h3>
                                <p>Smart Pub</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/g3.jpg" data-lightbox="example-set" data-title="">
                            <img src="~/images/g3.jpg" alt="" />
                            <figcaption>
                                <h3>Bucuresti</h3>
                                <p>Nor<br>Sky Casual Restaurant</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/g4.jpg" data-lightbox="example-set" data-title="">
                            <img src="~/images/g4.jpg" alt="" />
                            <figcaption>
                                <h3>Bucuresti</h3>
                                <p>Biutiful<br>Downtown</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/g12.jpg" data-lightbox="example-set" data-title="">
                            <img src="~/images/g12.jpg" alt="" />
                            <figcaption>
                                <h3>Cluj-Napoca</h3>
                                <p>Marty</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="~/images/g6.jpg" data-lightbox="example-set" data-title="">
                            <img src="~/images/g6.jpg" alt="" />
                            <figcaption>
                                <h3>Brasov</h3>
                                <p>Sub Tampa</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>



            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //gallery -->
