﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Index_Layout.cshtml";
}

<div class="ab-about">
    <div class="container">
        <h3 class="tittle-t"><span>Welcome and </span> Enjoy your meal</h3>
    </div>
</div>
<div class="about" id="about">
    <div class="col-md-6 ab-agile-info">
        <div class="col-md-6 ab-agile-part two">
            <h4>Craiova</h4>
            <img src="images/craiova.jpg" alt=" " class="img-responsive" />
        </div>
        <div class="col-md-6 ab-agile-part two">
            <h4>Bucuresti</h4>
            <img src="images/bucuresti.jpg" alt=" " class="img-responsive" />
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div class="col-md-6 ab-agile-info">
    <div class="col-md-6 ab-agile-part two">
        <h4>Brasov</h4>
        <img src="images/brasov.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-6 ab-agile-part two">
        <h4>Cluj-Napoca</h4>
        <img src="images/cluj.jpg" alt=" " class="img-responsive" />
    </div>

</div>

<div class="clearfix"></div>



<!--count-->
<div class="count-agileits">
    <div id="particles-js"></div>

    <div class="count-grids">
        <h3 class="tittle-t">We <span> are not the only one </span> but we are the best</h3>
        <div class="count-bgcolor-ls">
            <div class="col-md-4 count-grid">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                <div class="count hvr-bounce-to-bottom">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='250' data-delay='.5' data-increment="1">0</div>
                    <span></span>
                    <h5>Restaurants</h5>
                </div>
            </div>
            <div class="col-md-4 count-grid">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <div class="count hvr-bounce-to-bottom">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3600' data-delay='.5' data-increment="10">0</div>
                    <span></span>
                    <h5>Members</h5>
                </div>
            </div>
            <div class="col-md-4 count-grid">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="count hvr-bounce-to-bottom">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='4500' data-delay='.5' data-increment="10">0</div>
                    <span></span>
                    <h5>Clients</h5>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--count-->
