﻿<!DOCTYPE html>
<html lang="en">
<head>
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <title>@ViewData["Title"] - EatAndFeelGoodMVC</title>

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />

    <!--web-fonts-->

    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
    <!--//web-fonts-->
</head>
<body>
    <div class="banner" id="home">
        <!-- header -->
            <div class="banner-top">
                <div class="social-bnr-agileits">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="contact-bnr-agile">
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">eat@feelgood.COM</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>0784******</li>
                        <li>
                            <div class="search">
                                <input class="search_box" type="checkbox" id="search_box">
                                <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                                <div class="search_form">
                                    <form action="#" method="post">
                                        <input type="search" name="Search" placeholder="Search..." required="" />
                                        <input type="submit" value="Send" />
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <header>
                <div class="container">
                    <!-- navigation -->
                    <div class="navigation">
                        <nav class="navb navb-default">

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                                <nav class="menu menu--m">
                                    <ul class="nav navbar-nav menu__list">
                                        <li class="menu__item menu__item--current">@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li class="menu__item">@Html.ActionLink("Your City", "City", "Home")</li>
                                        <li class="menu__item">@Html.ActionLink("Eat and Feel Good", "Index", "Home")</li>

                                        <li class="menu__item">@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                                        <partial name="_LoginPartial" />
                                        <li class="menu__item">@Html.ActionLink("Contact", "AddContact", "Contact")</li>
                                        <li class="menu__item">@Html.ActionLink("Review", "Review", "Review")</li>
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <!-- //navigation -->
                </div>

            </header>
        </div>

        <div>
            @RenderBody()
        </div>
       <br />
        <div class="copyright">
            <p>&copy;2021 Eat and feel good . All Rights Reserved | Design by ******</p>
        </div>
        <!-- //Footer -->

        <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!-- //smooth scrolling -->
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/numscroller-1.0.js"></script>
        <script src="js/particles.js"></script>
        <script src="js/app.js"></script>
        <!--gallery-->
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="js/jquery.flexisel.js"></script>

        <!--gallery-->
        <!-- Dropdown-Menu-JavaScript -->
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(
                    function () {
                        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                        $(this).toggleClass('open');
                    },
                    function () {
                        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                        $(this).toggleClass('open');
                    }
                );
            });
        </script>
        <!-- //Dropdown-Menu-JavaScript -->
        <!-- Calendar -->
        <link rel="stylesheet" href="css/jquery-ui.css" />
        <script src="js/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
            });
        </script>
        <!-- //Calendar -->
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function () {
                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //here ends scrolling icon -->
        <!--js for bootstrap working-->
        <script src="js/bootstrap.js"></script>
        <!-- //for bootstrap working -->
        <!-- script-for-menu -->
        <script>
            $("span.menu").click(function () {
                $(".top-nav ul").slideToggle("slow", function () {
                });
            });
        </script>

</body>
</html>
