﻿@model EatAndFeelGoodMVC.Models.Review

@{
    ViewData["Title"] = "AddReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddReview</h2>

<h4>Review</h4>
<hr />
<div class="container">
    <div class="col-md-5">
        <form asp-action="AddReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Review added</p>"); }
            @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Review could not added</p>"); }
        </form>
    </div>
</div>

