﻿@model IEnumerable<EatAndFeelGoodMVC.Models.Review>

@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review</h2>

<p>
    <a asp-action="AddReview"  style="color:red">Create New Review</a>
</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ReviewId" style="color:red">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ReviewId" style="color:red">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ReviewId" style="color:red">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>