﻿
html, body {
    margin: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    background: #fff;
}


    body a {
        text-decoration: none;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
         color:white;
    }

a:hover {
    text-decoration:none;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}
/*-- header --*/

header {
    padding: 10px 0px;
    width: 100%;
}
/*-- nav --*/
.navb-default {
    background: none;
    border: none;
}

.navb {
    margin-bottom: 0;
}

.navigation {
    border-top: none;
    position: relative;
}

.navb-nav {
    float: none;
}

.navb-collapse {
    padding: 0;
}

.navb-right {
    float: none !important;
    margin-right: 0;
}

.navb-default .navb-nav > .active > a, .navb-default .navb-nav > .active > a:hover, .navb-default .navb-nav > .active > a:focus {
    color: #fa3d03;
    background: none;
}

.navb-default .navb-nav > li > a {
    color: #fa3d03;
}

.navb-nav > li > a {
    margin: 0;
    padding: .8em 1em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.navb-nav > li:nth-child(3) {
    margin-right: 1.6em !important;
}

.navigation_pos {
    position: absolute;
    top: 7%;
    left: 38.5%;
    z-index: 999;
}

    .navigation_pos h1 a {
        font-size: 1.1em;
        color: #212121;
        text-decoration: none;
        display: block;
    }

        .navigation_pos h1 a span:before, .navigation_pos h1 a span:after {
            content: '';
            position: absolute;
            top: 11%;
            width: 4px;
            height: 42px;
        }

        .navigation_pos h1 a i {
            display: block;
            font-size: .45em;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            letter-spacing: 8px;
            color: #65b126;
        }

.navbar-default .navbar-nav > li > a:hover {
    color: #26d797;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.menu__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    display: block;
    margin: 1em 0;
}

.menu__link {
    font-size: 1.1em;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: #26d797;
}

.menu--m .menu__item {
    font-size: 1.4em;
    position: relative;
    margin: 0.2em 1.0em;
    background:none;
    color:transparent;
}

    .menu--m .menu__item:last-child {
        margin-right: 0.5em;
    }

.menu--m .menu__link {
    position: relative;
    display: block;
    text-align: center;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

    .menu--m .menu__link:hover,
    .menu--m .menu__link:focus {
        color: #929292;
    }

.menu--m .menu__item--current .menu__link {
    color: #26d797;
}

.menu--m .menu__item::before,
.menu--m .menu__item::after,
.menu--m .menu__link::before,
.menu--m .menu__link::after {
    content: '';
    position: absolute;
    background: #fd6239;
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

/* left and right line */
.menu--m .menu__item::before,
.menu--m .menu__item::after {
    top: 0;
    width: 1px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
}

/* left line */
.menu--m .menu__item::before {
    left: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

/* right line */
.menu--m .menu__item::after {
    right: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

/* top and bottom line */
.menu--m .menu__link::before,
.menu--m .menu__link::after {
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

/* top line */
.menu--m .menu__link::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

/* bottom line */
.menu--m .menu__link::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}


/* bottom line */
.menu--m .menu__item .menu__link::after {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.menu--m .menu__item--current .menu__link::after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* left line */
.menu--m .menu__item::before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.menu--m .menu__item--current::before {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/* top line */
.menu--m .menu__item .menu__link::before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu--m .menu__item--current .menu__link::before {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

/* right line */
.menu--m .menu__item--current::after {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.menu--m .menu__item--current::before,
.menu--m .menu__item--current::after,
.menu--m .menu__item--current .menu__link::before,
.menu--m .menu__item--current .menu__link::after, .menu__item:hover::before, .menu__item:hover::after,
.menu--m .menu__link:hover::before,
.menu--m .menu__link:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
/*-- //header --*/
.bannerindex {
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 730px;
    position: relative;
    margin-bottom: 8.5em;
}
.banner {
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 430px;
    position: relative;
    margin-bottom: 1.5em;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   
    background-color: transparent;
}
/*--header -top--*/
.banner-top {
    border-bottom: 1px solid #918c8c;
}

.social-bnr-agileits {
    float: left;
    margin-left: 1em;
}

    .social-bnr-agileits ul li {
        display: inline-block;
        float: left;
        margin: 0px 6px;
        width: 30px;
        height: 30px;
        text-align: center;
        border: 2px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .social-bnr-agileits ul {
        margin-top: 10px;
    }

        .social-bnr-agileits ul li i {
            padding-top: 6px;
            color: #fff;
            font-size: 13px;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
        }

        .social-bnr-agileits ul li:hover i {
            color: #26d797;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
        }

        .social-bnr-agileits ul li:hover {
            border-color: #26d797;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
        }

.contact-bnr-agile {
    float: right;
}

    .contact-bnr-agile ul li {
        list-style: none;
        display: inline-block;
        border-left: 1px solid #918c8c;
        padding: 13px 20px;
        color: #fff;
        font-size: 14px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
    }

        .contact-bnr-agile ul li a {
            color: #fff;
            text-decoration: none;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
            text-transform: lowercase;
            font-size: 15px;
        }

            .contact-bnr-agile ul li a:hover {
                color: #f35041;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -o-transition: 0.5s all;
                -moz-transition: 0.5s all;
            }

        .contact-bnr-agile ul li i {
            color: #26d797;
            font-size: 16px;
            margin-right: 15px;
        }
/*--search--*/
.search label.icon-search {
    color: #212121;
    cursor: pointer;
}

.search_form {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 15px;
    overflow: hidden;
    width: 20px;
    height: 0px;
    background: #000000;
    transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
    -webkit-transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}

    .search_form form {
        opacity: 0;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    }

    .search_form input[type='search'] {
        width: 359px;
        padding: 6px;
        outline: none;
        font-size: 14px;
        color: #fff;
        border: 1px solid #999;
        background: none;
    }

        .search_form input[type='search']::-webkit-input-placeholder {
            color: #fff !important;
        }

    .search_form input[type='submit'] {
        outline: none;
        background: #fd6239;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        border: 1px solid #fd6239;
        text-transform: uppercase;
        padding: 6px 34px;
    }

        .search_form input[type='submit']:hover {
            background: #26d797;
            border: 1px solid #26d797;
        }

.search_box {
    visibility: hidden;
}

    .search_box:checked ~ .search_form {
        width: 500px;
        height: 53px;
        padding: 10px;
        top: 52px;
        transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
        -webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
    }

        .search_box:checked ~ .search_form form {
            opacity: 1;
            transition: 0.3s all ease-out 0.5s;
            -webkit-transition: 0.3s all ease-out 0.5s;
        }

label.icon-search span {
    color: #fff;
    font-size: 1.2em;
    /* top: 0px; */
    padding-right: 12px;
    /* background: #62a0ec; */
    /* padding: 10px; */
}
/*--//search--*/
/*-- //header -top--*/
/*--header-nav--*/
.navigation_pos h1 a {
    text-decoration: none;
    color: #faf8f7;
    font-size: 41px;
    left: 0.4em;
}

.navigation_pos span {
    color: #fd6239;
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    font-weight: bold;
}
/*-- //header-nav--*/
/*--SignIN---*/
.inregistrare {
    margin-top: 20px;
    -webkit-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
    box-shadow: 0px 35px 44px -22px #1f181b;
    padding: 50px 40px;
}

    .inregistrare form {
        text-align: center;
        font-family: cursive;
        font-size: 20px;
    }
/*--LogIN--*/
.login {
    margin-top: 20px;
    -webkit-box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 35px 44px -22px #1f181b;
    padding: 50px 40px;
}

    .login form {
        text-align: center;
        font-family: cursive;
        font-size: 20px;
    }

        .login form input:last-child:hover {
            background-color: #ffffff;
        }

.icon i {
    color: #fd6239;
    font-size: 16px;
}

.icons i {
    color: #fd6239;
    font-size: 21px;
    letter-spacing: 5px;
}

.p-bottom a {
    color: #fd6239;
}

.form-sub input[type="text"], input[type="password"] {
    outline: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 40px 15px 10px;
    letter-spacing: 2px;
    width: 90%;
    border: none;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-bottom: 10px;
    background: transparent;
    font-family: 'Sirin Stencil', cursive;
}

.form-sub input[type="password"] {
    outline: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 40px 15px 10px;
    width: 60%;
    border: none;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-bottom: 10px;
    background: transparent;
    font-family: 'Sirin Stencil', cursive;
}

input[type="submit"] {
    background: #fff;
    color: #000;
    outline: none;
    display: block;
    margin: 0 auto;
    border: #fd6239;
    cursor: pointer;
    padding: 7px 35px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Sirin Stencil', cursive;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}

    input[type="submit"]:hover {
        background: #ffffff;
        color: #fd6239;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
    }
/*--//LogIn--*/

/*-- banner-text--*/
.banner-text {
    text-align: center;
    padding: 7em 0 0 0;
}

    .banner-text h2 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 45px;
        letter-spacing: 2px;
    }
/*-- banner-form--*/
.book-form label {
    font-size: 15px;
    color: #fff;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

    .book-form label i {
        font-size: 1em;
        margin-right: 10px;
        color: #fd6239;
    }

.book-form input[type="text"], .book-form input[type="date"], .book-form input[type="time"], .book-form input[type="email"] {
    width: 100%;
    color: #9a9797;
    outline: none;
    font-size: 0.9em;
    line-height: 25px;
    padding: 3px 10px;
    border: 2px solid #fff;
    -webkit-appearance: none;
    margin-bottom: 1em;
    background: none;
    font-family: 'Open Sans', sans-serif;
}

.book-form input[type="text"] {
    border: 2px solid #fff;
}

.book-form form input[type="submit"] {
    text-transform: capitalize;
    background: #fd6239;
    color: #FFFFFF;
    padding: .7em 2em;
    border: none;
    font-size: .79em;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    margin-top: 2.4em;
    -webkit-appearance: none;
}

.book-form {
    background: rgba(12, 12, 12, 0.68);
    padding: 2em 2em 7em 2em;
    width: 70%;
    margin: 3em auto 0;
}

    .book-form p {
        color: #fff;
        font-size: 24px;
        margin-bottom: .8em;
        letter-spacing: 5px;
        word-spacing: 7px;
        text-transform: uppercase;
    }

    .book-form select.form-control {
        outline: none;
        font-size: 1em;
        padding: 5px 10px;
        width: 100%;
        line-height: 25px;
        border-radius: 0;
        background: none;
        color: #9a9797;
        border: 2px solid #fff;
        box-shadow: none !important;
    }

.form-sub select.form-control {
    outline: none;
    font-size: 1em;
    padding: 1px 1px;
    width: 20%;
    line-height: 25px;
    border-radius: 0;
    background: none;
    color: #fd6239;
    border: 2px solid #fff;
    box-shadow: none !important;
    margin-left: 11.6em;
}

.form-date.second-agile {
    width: 30%;
}

.form-date.second-agile, .form-time.second-agile, .form-left-agileits.second-agile, .form-left-agileits.bottom.second-agile {
    margin-right: 0 !important;
    padding: 0 !important;
}

.book-form input[type=submit]:hover {
    background: #26d797;
    color: #fff;
}
/*-- //banner-form--*/

/*-- //banner-text--*/
/*-- //banner --*/
/*-- modal --*/
.modal-content img {
    width: 100%;
}

.modal-content h4 {
    color: #bc0023;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.modal-content h5 {
    color: #1ca0de;
    padding: 20px 0 6px;
    font-size: 22px;
    margin-left: 0px;
}

.modal-content p {
    color: #000;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 20px 30px;
}

.modal-dialog {
    width: 600px;
    margin: 109px auto;
}
/*-- //modal --*/
.mail-grid1, .ab-about, .agile-blogs, .agile-about-top, .features, .special, .gallery, .content_agilleinfo_inner, .team {
    padding: 70px 10px;
}


/*--flexisel--*/
/*--gallery--*/
.flex-slider {
    background: #222227;
    padding: 70px 0 165px 0;
}

.opportunity {
    background: #28282e;
    margin: 0px 20px;
    padding: 80px 0;
    position: relative;
}

#flexiselDemo1 {
    display: none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0px auto;
}

.nbs-flexisel-item {
    float: left;
    margin-right: 0.1em;
    padding: 0;
    position: relative;
    line-height: 0px;
}

    .nbs-flexisel-item > img {
        cursor: pointer !important;
        position: relative;
    }
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 999;
    top: 105% !important;
}

.nbs-flexisel-nav-left {
    left: 55%;
    background: url(../images/next.png) no-repeat 0px 0px;
    background-size: 32px;
}

.nbs-flexisel-nav-right {
    right: 55%;
    background: url(../images/back.png) no-repeat 0px 0px;
    background-size: 32px;
}
/*--//flexisel--*/
div#gallery {
    position: absolute;
    left: 12.9em;
    bottom: -6.5em;
}

div#gallery {
    position: relative;
    bottom: -6.3em;
    left: 0em;
}
/*-- gallery --*/
/*-- about --*/
.ab-about {
    text-align: center;
}

.about-read a {
    display: block;
    text-align: center;
    color: #fd6239;
    text-decoration: none;
}

a.read {
    border: none;
    outline: none;
    background: #fd6239;
    padding: .8em 1.8em;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .79em;
    font-weight: 600;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    text-decoration: none;
}

    a.read:hover {
        text-decoration: none;
        background: #26d797;
    }
/*-- about-btm --*/

.ab-agile-info {
    float: left;
    padding: 0;
}

.ab-agile-info-text {
    padding: 3em 0em 2em;
    background: #202020;
}

.ab-agile-part {
    padding: 0;
    background: #ffffff;
    padding: 2.5em;
}

    .ab-agile-part h4 {
        font-size: 1.5em;
        color: #000;
        letter-spacing: 1px;
        line-height: 35px;
        text-align: center;
        margin-bottom: .5em;
    }

    .ab-agile-part:nth-child(2) {
        background: #ffffff;
    }

    .ab-agile-part p {
        color: #fff;
    }

    .ab-agile-part p {
        margin-bottom: 0;
    }
/*-- //about -btm--*/
/*-- about --*/

/*--counter-section--*/
.count-agileits {
    background: url(../images/clienti.jpg) no-repeat 0px 0px;
    background-size: cover;
    text-align: center;
    position: relative;
}

.count-grids {
    position: absolute;
    top: 6em;
    left: 0em;
    width: 100%;
}

.count-grid span {
    background: #26d797;
    display: block;
    width: 65px;
    height: 2px;
    margin: 0 auto;
}

.count-grid h4 {
    font-size: 4em;
    color: #fff;
}

.count-grid h5 {
    font-size: 1.2em;
    color: #fff;
    margin-top: 1em;
}

.count-grid i {
    font-size: 2em;
    color: #fd6239;
    width: 70px;
    height: 70px;
    padding-top: 0.7em;
}

.numscroller {
    font-size: 2.5em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 0.3em 0;
}

.count-grids h3 span {
    color: #fff;
}
/*--parallax-js--*/


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

canvas.particles-js-canvas-el {
    height: 540px !important;
}

.count-bgcolor-ls {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0em;
    background: rgba(0, 0, 0, 0.38);
}
/*--//parallax-js--*/
/*--//counter-section--*/

.info-imgs ul li {
    float: left;
    width: 50%;
    list-style: none;
}

    .info-imgs ul li img {
        width: 100%;
    }

h3.tittle.two {
    text-align: left;
    color: #fff;
}
/*-- gallery --*/
.agile_gallery_grids {
    margin: 2em 0 0;
}

.demo > li {
    float: left;
    list-style-type: none;
    margin: 10px;
}

    .demo > li img {
        width: 265px;
        cursor: pointer;
    }
/*jquery.picEyes*/

.picshade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% !important;
    background-color: #000;
    opacity: 0.91;
    z-index: 99;
    display: none;
}

.pictures_eyes_close {
    position: fixed;
    top: 30px;
    right: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) no-repeat;
    z-index: 100;
    display: none;
}

.pictures_eyes {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 199;
    display: none;
}

.pictures_eyes_in {
    position: relative;
    text-align: center;
}

    .pictures_eyes_in img {
        max-height: 500px;
    }

    .pictures_eyes_in .prev, .pictures_eyes_in .next {
        position: absolute;
        top: 50%;
        width: 51px;
        height: 51px;
        cursor: pointer;
    }

    .pictures_eyes_in .prev {
        left: 35px;
        background: url(../images/left1.png) no-repeat;
    }

    .pictures_eyes_in .next {
        right: 35px;
        background: url(../images/right1.png) no-repeat;
    }

.pictures_eyes_indicators {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 299;
}

    .pictures_eyes_indicators a {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 6px 3px 0 3px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 2px #000;
        opacity: 0.5;
        overflow: hidden;
    }

    .pictures_eyes_indicators img {
        height: 50px;
    }

    .pictures_eyes_indicators .current {
        opacity: 1;
    }

.gallery-grid1 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    .gallery-grid1 .p-mask, .row .product .vm-product-media-container .p-mask {
        opacity: 0;
        visibility: hidden;
        background: rgba(25, 24, 24, 0.8);
        bottom: 0%;
        position: absolute;
        padding: 1em 1.3em;
        width: 100%;
        -webkit-transform: translate3d( 0px, 100%, 0px );
        -moz-transform: translate3d( 0px, 100%, 0px );
        -ms-transform: translate3d( 0px, 100%, 0px );
        -o-transform: translate3d( 0px, 100%, 0px );
        transform: translate3d( 0px, 100%, 0px );
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
        transition: all .5s ease 0s;
        text-align: left;
        border-top: 5px solid #fd6239;
    }

        .gallery-grid1 .p-mask .p-desc {
            color: #a3a3a3;
            position: relative;
            display: block;
            margin-bottom: 10px;
            padding-bottom: 10px;
            font-size: 1em;
        }

    .gallery-grid1:hover .p-mask, .row .product:hover .p-mask {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d( 0px, 0px, 0px );
        -moz-transform: translate3d( 0px, 0px, 0px );
        -ms-transform: translate3d( 0px, 0px, 0px );
        -o-transform: translate3d( 0px, 0px, 0px );
        transform: translate3d( 0px, 0px, 0px );
    }

.p-mask h4 {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    line-height: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
}

.p-mask p {
    margin: 0;
    color: #f5f5f5;
    line-height: 1.8em;
    font-size: 16px;
}

.p-mask span {
    color: #fd6239;
}

.pictures_eyes_in {
    position: relative;
    text-align: center;
}
/*--//services-section--*/




/*--inner-pages--*/
.inner-bg {
    min-height: 225px !important;
    margin-bottom: 0px !important;
}


/*-- about-inner --*/
.about-bg {
    padding: 0em 0 3em 0 !important;
}

.about-heading {
    text-align: center;
}

    .about-heading h2 {
        font-size: 2em;
        margin: 1.5em 0 0 0;
        color: #000000;
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;
    }

.h-f {
    width: 49%;
    float: left;
    margin-right: 1%;
}

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
}

.hf-text {
    text-align: center;
    background-color: #fff;
    padding-bottom: 1em;
}

    .hf-text h5 {
        font-size: 2em;
        font-weight: 400;
        color: #011750;
        line-height: 1.8em;
    }

    .hf-text p {
        color: #D00030;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
    }
/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    height: auto;
    background: #000;
    text-align: center;
    /*cursor: pointer;*/
}

    .grid figure img {
        position: relative;
        display: block;
        max-width: 100%;
        opacity: 0.8;
    }

    .grid figure figcaption {
        padding: 1em;
        color: #fff;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }


        .grid figure figcaption,
        .grid figure figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
     
            .grid figure figcaption > a {
                z-index: 1000;
                text-indent: 200%;
                white-space: nowrap;
                font-size: 0;
                opacity: 0;
            }

    .grid figure h4 {
        word-spacing: -0.15em;
        font-weight: 300;
    }

        .grid figure h4 span {
            font-weight: bold;
            color: #fff;
            margin-left: 12px;
        }

    .grid figure h4,
    .grid figure p {
        margin: 0;
    }



.ab-text h3 {
    font-size: 1.4em;
    margin-bottom: .8em;
    text-align: left !important;
}

.ab-text p {
    font-size: 1em;
    margin: 1em 0 0em 0;
    color: #555;
    line-height: 2.2em;
}

    .ab-text p span {
        display: block;
        margin: 1em 0 0 0;
    }

/*-- services-inner --*/
/*-- special --*/
.special-grid {
    padding: 0;
}

.special-img {
    padding: 0;
    background: url(../images/s1.jpg) no-repeat -17px 0px;
    min-height: 171px;
    background-size: cover;
    text-align: center;
    position: relative;
}

    .special-img img {
        width: 100%;
    }

.effect-1 a {
    color: #ffffff;
}

.agileits-special-info {
    text-align: center;
    padding: 1.3em;
    background: rgba(38, 215, 151, 0.87);
}

    .agileits-special-info h4 {
        color: #000;
        font-size: 1.4em;
        margin: .4em 0 0 0;
        position: relative;
    }

    .agileits-special-info p {
        color: #fff;
        font-size: 1em;
        line-height: 1.5em;
        margin: 1em 0 .5em 0;
    }

.city-img {
    background: url(../images/s2.jpg) no-repeat -35px 0px;
    background-size: cover;
}

.city-img1 {
    background: url(../images/s3.jpg) no-repeat -46px 0px;
    background-size: cover;
}

.city-img2 {
    background: url(../images/s4.jpg) no-repeat -46px 0px;
    background-size: cover;
}

.city-img3 {
    background: url(../images/s5.jpg) no-repeat -46px 0px;
    background-size: cover;
}

.city-img4 {
    background: url(../images/s6.jpg) no-repeat -46px 0px;
    background-size: cover;
}

.special-text h4 {
    color: #FFF;
    font-size: 1.6em;
    margin: 2.7em 0 0 0;
}
/*-- Effect 1--*/
.special-text:after {
    pointer-events: none;
    position: absolute;
    width: 140px;
    height: 120px;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.effect-1 {
    -webkit-transition: background 0.5s, color 0.2s;
    -moz-transition: background 0.5s, color 0.2s;
    transition: background 0.5s, color 0.2s;
}

    .effect-1:after {
        top: 25px;
        left: 25px;
        box-shadow: 0 0 0 2px #fd6239;
        -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
        -webkit-transform: scale(0.8);
        -moz-transition: -moz-transform 0.5s, opacity 0.2s;
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transition: transform 0.5s, opacity 0.2s;
        transform: scale(0.8);
        opacity: 0;
    }

.special-img:hover.special-text {
    background: #FF7200;
    color: #fff !important;
}

    .special-img:hover .special-text:after {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
/*--//Effect 1--*/

/*-- gallery --*/
.gallery-heading {
    text-align: center;
}

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}
    /* Common style */
    .grid figure {
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        height: auto;
        text-align: center;
        /*cursor: pointer;*/
    }

        .grid figure img {
            position: relative;
            display: block;
            width: 100%;
            opacity: 0.8;
        }

        .grid figure figcaption {
            padding: 2em;
            color: #fff;
            text-transform: uppercase;
            font-size: 1em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .grid figure figcaption,
            .grid figure figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

                .grid figure figcaption > a {
                    z-index: 1000;
                    text-indent: 200%;
                    white-space: nowrap;
                    font-size: 0;
                    opacity: 0;
                }

        .grid figure h3 {
            font-weight: 300;
            margin: 0;
            text-align: center;
            font-size: 1.05em;
            color: #fff;
            padding: 5px;
            background: rgba(0, 0, 0, 0.44);
        }

        .grid figure h2 span {
            font-weight: 800;
        }

        .grid figure h2,
        .grid figure p {
            margin: 0;
        }

        .grid figure p {
            letter-spacing: 1px;
            font-size: 68.5%;
            font-weight: 600;
        }
/*-----------------*/
/***** Apollo *****/
/*-----------------*/
figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
    -moz-transform: scale3d(1.05,1.05,1);
    -o-transform: scale3d(1.05,1.05,1);
    -ms-transform: scale3d(1.05,1.05,1)
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    -ms-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 168px;
    border-right: 4px solid #fd6239;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    color: #26d797;
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    -ms-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
/*-- //gallery --*/
/*--contact-inner*/
.contact-btm {
    padding: 50px 0px;
}

    .contact-btm ul {
        margin: 0 auto;
        width: 19em;
    }

        .contact-btm ul li {
            display: inline-block;
            float: left;
            margin: 0px 14px;
            width: 41px;
            height: 41px;
            text-align: center;
            border: 2px solid #fd6239;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
        }

            .contact-btm ul li i {
                padding-top: 9px;
                color: #fd6239;
                font-size: 18px;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -o-transition: 0.5s all;
                -moz-transition: 0.5s all;
            }

            .contact-btm ul li:hover {
                border-color: #26d797;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -o-transition: 0.5s all;
                -moz-transition: 0.5s all;
            }

                .contact-btm ul li:hover i {
                    color: #26d797;
                    transition: 0.5s all;
                    -webkit-transition: 0.5s all;
                    -o-transition: 0.5s all;
                    -moz-transition: 0.5s all;
                }
/*--//contact-inner*/


/*--City--*/

.photography {
    margin: 2em 5em;
}

.photo-grids {
    width: 22%;
    float: left;
    border: 1.5px solid #d9d9d9;
    margin: 0em 20px;
}

    .photo-grids img {
        width: 100%;
    }

.pic-info {
    padding: 1px;
    background: #fff;
}


/*--//City*/





/*-- mail --*/
.tittle-t {
    font-size: 2em;
    color: #fd6239;
    margin: 0em 0 1.5em;
    text-align: center;
    text-transform: uppercase;
}

    .tittle-t span {
        color: #212121;
    }

.sub-head {
    font-size: 1.5em !important;
}

.mail-grid1 p {
    font-size: 14px;
    color: #999;
    margin: 0.5em 0 1.5em;
}

.mail-grid1 ul {
    padding: 2em 0;
    border-top: 1px solid #EAEAEA;
}

    .mail-grid1 ul:nth-child(4) {
        border-bottom: 1px solid #EAEAEA;
    }

    .mail-grid1 ul li {
        display: inline-block;
        font-size: 1.2em;
        padding-left: 1em;
        color: #999;
    }

        .mail-grid1 ul li span, .mail-grid1 ul li a {
            display: block;
            color: #777;
            font-weight: 300;
            padding-left: 1em;
            font-size: .8em;
            margin: .5em 0 0;
        }

        .mail-grid1 ul li a {
            color: #D57D39;
            text-decoration: none;
        }

            .mail-grid1 ul li a:hover {
                color: #777;
            }

        .mail-grid1 ul li i {
            left: -1em;
            color: #212121;
        }

.mail-grid1-form input[type="text"], .mail-grid1-form input[type="email"] {
    margin-bottom: 1em;
}

.mail-grid1-form input[type="text"], .mail-grid1-form input[type="email"], .mail-grid1-form textarea {
    outline: none;
    /* border: 2px solid rgb(241, 224, 179); */
    border: none;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    background: rgba(251, 251, 251, 0.04);
    width: 100%;
}

.mail-grid1-form textarea {
    margin: 0 0 1.5em;
    min-height: 150px;
    resize: none;
}

.mail-grid1-form input[type="submit"] {
    outline: none;
    border: none;
    font-size: 16px;
    background: #fd6239;
    padding: 10px 55px;
    color: #fff;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
}

    .mail-grid1-form input[type="submit"]:hover {
        background: #26d797;
    }

.map iframe {
    width: 100%;
    min-height: 500px;
    border: none;
}

.map {
    padding: 0;
}

.mail-agileits i {
    color: #fd6239;
    font-size: 28px;
    vertical-align: middle;
    border-right: 3px solid #000;
    padding: .8em .8em .8em 0em;
    float: left;
}

.contact-right p {
    display: block;
    margin: 0px 0px 8px;
    color: #000;
    font-size: 19px;
}

.contact-right {
    padding-left: 2em;
    float: left;
    padding-top: 8px;
}

    .contact-right span, .contact-right a {
        font-size: 15px;
        text-decoration: none;
        color: #777;
        outline: none;
    }

        .contact-right a:hover {
            color: #fd6239;
        }

.mail-grid1-form {
    padding: 3em;
    background: rgb(32, 32, 32);
}
/*-- //mail --*/

/*-- icons --*/
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}

.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
}

    .bs-glyphicons li .glyphicon {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 24px;
        color: #282a2b;
    }

.icons a {
    color: #999;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}

.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
/*-- //icons --*/
/*-- contact --*/

/*--// contact --*/
/*-- footer --*/
.footer {
    text-align: center;
    background: #191818;
    padding: 20px 0px;
}
/*-- //footer --*/


/*-- Copyright --*/
.copyright {
    background: #000;
    padding: 20px 0px;
}

    .copyright p {
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        word-spacing: 1px;
        text-align: center;
    }

    .copyright a {
        color: #fd6239;
        text-decoration: none;
    }

        .copyright a:hover {
            color: #ffffff;
        }
/*-- //Copyright --*/

/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 30px;
    height: 30px;
    border: none;
    text-indent: 100%;
    background: url(../images/arr.png) no-repeat 0px 0px;
    background-size: 30px;
}

#toTopHover {
    width: 64px;
    height: 64px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
}
/*-- //to-top --*/


