﻿@model EatAndFeelGoodMVC.Models.Contact

@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mail">
    <div class="mail-grid1">
        <div class="container">
            <h3 class="tittle-t" id="contact">Contact</h3>
            <div class="col-md-4 mail-agileits">
                <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                <div class="contact-right">
                    <p>Phone</p><span>0784******</span>
                </div>
            </div>
            <div class="col-md-4 mail-agileits">
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                <div class="contact-right">
                    <p>Email</p><a href="mailto:eat@feelgood.com">eat@feelgood.com</a>
                </div>
            </div>
            <div class="col-md-4 mail-agileits">
                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                <div class="contact-right">
                    <p>Address</p><span>Craiova</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="col-md-6 map ">
    <iframe src="https://maps.google.com/maps?q=Craiova&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">></iframe>
</div>

<div class="col-md-6 mail-grid1-form ">
    <h3 class="tittle-t"><span>Send a </span>Message</h3>
    <form asp-action="AddContact">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="control-label"></label>
            <input asp-for="Message" class="form-control" />
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        @{ if (ViewData["Message"] == "Success") @Html.Raw("<p style=\"color:green\">Contact added</p>"); }
        @{ if (ViewData["Message"] == "Error") @Html.Raw("<p style=\"color:red\">Contact could not added</p>"); }
    </form>
</div>
<div class="clearfix"></div>


